<div class="col-md-10 offset-md-1 mt-5">
  <h2><%= @cd.title %></h2>
  <ul>
    <li><b>アーティスト: </b><%= @cd.artist %></li>
    <li><b>価格: </b><%= number_with_delimiter @cd.price %>円</li>
    <li><b>発売日: </b><%= @cd.release_date %></li>
  </ul>
  <hr>
  <h4>商品の説明</h4>
  <%= simple_format @cd.description %>
</div>