<div class="col-md-10 offset-md-1 mt-5">
  <h2><%= @cd.title %></h2>
  <ul>
    <li><b><%= t ".artist" %>: </b><%= @cd.artist %></li>
    <li><b><%= t ".price" %>: </b><%= t(".price_yen", price: (number_with_delimiter @cd.price)) %></li>
    <li><b><%= t ".publish_date" %>: </b><%= @cd.release_date %></li>
  </ul>
  <hr>
  <h4><%= t ".description" %></h4>
  <%= simple_format @cd.description %>
</div>