<%= form_with model: [cd, cd_review], local: true do |form| %>
  <%= render "shared/errors", obj: cd_review %>
  <div class="form-group">
    <%= form.label :evaluation %><br>
    <%= form.select :evaluation, Cd_review.evaluations.values, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :body %><br>
    <%= form.text_area :body, rows: 10, class: "form-control" %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
  <%= link_to t(".back"), cd, class: "btn btn-secondary" %>
<% end %>