<div class="col-md-8 offset-md-2 mt-5">
  <h2 class="text-center"><%= t ".title" %></h2>
  <div>
    <% if @cd_review.user.avatar.attached? %>
      <%= image_tag @cd_review.user.avatar.variant(resize: "60x60"), class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "no_image.png", class: "img-thumbnail", width: 60 %>
    <% end %>
    <span><%= @cd_review.user.nick_name %></span>
  </div>
  <hr>
  <div>
    <div>
      <span class="text-warning"><%= "★" * @cd_review.evaluation %></span>
      <b><%= @cd_review.title %></b>
    </div>
    <small><%= @cd_review.created_at.strftime("%Y年%m月%d日") %></small>
  </div>
  <%= simple_format @cd_review.body %>
  <% if user_signed_in? && current_user.id == @cd_review.user_id %>
    <%= link_to t(".edit"), edit_cd_cd_review_path(@cd, @cd_review), class: "btn btn-info" %>
  <% end %>
  <%= link_to t(".back"), @cd, class: "btn btn-secondary" %>
</div>