<div class="col-md-8 offset-md-2 mt-5">
  <h2 class="text-center"><%= t ".title" %></h2>
  <div>
    <% if @cd_review.user.avatar.attached? %>
      <%= image_tag @cd_review.user.avatar.variant(resize: "60x60"), class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "no_image.png", class: "img-thumbnail", width: 60 %>
    <% end %>
    <span><%= @cd_review.user.nick_name %></span>
  </div>
  <hr>
  <div>
    <div>
      <span class="text-warning"><%= "★" * @cd_review.evaluation %></span>
      <b><%= @cd_review.title %></b>
    </div>
    <small><%= @cd_review.created_at.strftime("%Y年%m月%d日") %></small>
  </div>
  <%= simple_format @cd_review.body %>
  <% if user_signed_in? && current_user.id == @cd_review.user_id %>
    <%= link_to t(".edit"), edit_cd_cd_review_path(@cd, @cd_review), class: "btn btn-info" %>
    <%= button_tag t(".delete"), class: "btn btn-warning", data: { toggle: "modal", target: "#delete-cd_review" } %>
  <% end %>
  <%= link_to t(".back"), @cd, class: "btn btn-secondary" %>
</div>

  <div class="modal fade" id="delete-cd_review">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= t(".modal_title") %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><%= t(".question_cd_review", cd_review: @cd_review.title) %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".chancel") %></button>
          <%= link_to t(".delete_action"), cd_cd_review_path(@cd, @cd_review), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>